# .github/workflows/ci.yml
name: CI

on: [push, pull_request]

jobs:
  checks:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10", "3.x"]
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0  # Fetch all history for git rev-parse
      - uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
      - uses: abatilo/actions-poetry@v4
      - run: poetry install
      - run: poetry run poe check

